@model IEnumerable<BierFuerVier.Models.Beer>

@{
    ViewBag.Title = "Bierabetiker";
}

<div id="container" class="clear">

    <h1>Willkommen in der wunderbaren Welt der Biere</h1>
    <p>Hier finden bierliebe Menschen Informationen zum gesunden Hopfentee</p>
    <br /><br />

    @foreach (var bier in Model)
    {
        <section id="slider" class="clear">
            <figure>
                @{ 
                    var base64 = Convert.ToBase64String(bier.Image);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                }
                <img src="@imgSrc" alt="" width="100" />
                <figcaption>
                    <h2>@bier.Name</h2>
                    <p>@bier.Description</p>
                    <button class="rating downvote" data-id="@bier.Id">-</button>
                    <progress value="@bier.Upvotes" max="@bier.TotalVotes" data-id="@bier.Id"></progress>
                    <button class="rating upvote" data-id="@bier.Id">+</button>
                </figcaption>
            </figure>
        </section>
    }

    @if (Session["User"] != null)
    {
        <div>
            <h2>Halt, das beste Bier fehlt ja noch!</h2>
            @Html.ActionLink("Bier hinzufügen", "Upload", "Home")
        </div>
    }


</div>